@import "properties.scss";
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Play", sans-serif;
  text-align: center;
  min-width: fit-content;
  font-family: "Press Start 2P", cursive;
}
