.pixel {
  width: 1.5rem;
  height: 1.5rem;
  background: #8cc6db;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) {
  #editor {
    .pixel {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}
